@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.banner {
  position: relative;
  color: white;
  object-fit: contain;
  width: 100%;
  mask-image: linear-gradient(to left, transparent, black 75%);
  -webkit-mask-image: linear-gradient(to left, transparent, black 75%);
  overflow-x: hidden;
  transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.banner.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinnerssss {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.banner__contents {
  position: absolute;
  width: 90%;
  margin-left: 2%;
  bottom: 20px;
  max-height: 305px;
  transition: opacity 1s ease-in-out;
}

.banner__title,
.banner__description {
  transition: opacity 1s ease-in-out;
}

.banner__title {
  width: 100%;
  margin-bottom: 8px;
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 0.3rem;
  color: rgba(255, 255, 255, 0.9);
}

.banner__description {
  max-width: 700px;
  width: 100%;
  font-size: 1rem;
  line-height: 1.6;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
  height: auto;
  color: rgba(255, 255, 255, 0.8);
}

.banner--fadeBottom {
  height: 48.5rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.fade {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.banner__contents,
.banner__title,
.banner__description,
.banner__buttons {
  transition: opacity 0.8s ease-in-out;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  margin-right: 1rem;
  background-color: #6d6d6eb3;
  transition: transform 400ms;
}

.banner__button:hover {
  transform: scale(1.08);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.banner__button img {
  width: 25px;
  filter: invert(1) brightness(0) contrast(100%);
}

.dark {
  color: #fff;
  background-color: #6d6d6eb3;
}

.dark:hover {
  transform: scale(1.08);
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

@media (max-width: 768px) {
  .banner__title {
    font-size: 2rem;
  }
  .banner__description {
    font-size: 0.9rem;
    max-width: 90%;
  }
  .banner__buttons {
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  .banner__buttons .banner__button {
    padding: 10px 14px;
    margin-right: 0;
    width: auto;
  }
  .banner--fadeBottom {
    height: 58.5rem;
  }
}
